<div class="container">
    <div class="card">
      <div class="row">
  
        <div class="col-xl-6">
          <h2>Título</h2>
          <img src="assets/tapaLibro.jpg" alt="tapaLibro">
        </div>
  
  
        <div class="col-xl-6">
  
  
          <div class="card-body">
            <p class="card-text" id="lorem">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. 
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolorem animi quod ut consequuntur, sint accusantium amet id. Ipsa deserunt repudiandae omnis mollitia tempora molestiae, fugiat animi est nihil natus.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim odio numquam tenetur architecto at consectetur vel quisquam eligendi! Ab neque exercitationem labore fugit optio ullam doloremque ad velit sunt autem.</p>
            
            <p class="card-text" id="valor">Valor Unitario $ 50.000,00</p>
            
            <label for="cant">Cantidad</label>
              <input id="cant" value="1" type="number">
  
              <hr>
  
            <p class="card-text" id="total"><span id="tot">Total $50.000,00</span>
  
            <button id="boton-cart">
              <span id="cart">&#128722;</span>Añadir al Carrito
            </button>
  
          </p>
  
  
        </div>
      </div>
    </div>
</div>